<launch>
<arg name="show_rviz" default="true"/>

<!-- position -->
<arg name="x" default="0"/>
<arg name="y" default="0"/>
<arg name="z" default="0"/>

<!--orientaion-->
<arg name="roll" default="0" />
<arg name="pitch" default="0" />
<arg name="yaw" default="0" />

<param name="robot_description" textfile='$(find walker_sim)/robots/simple_walker.urdf'/>

<include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="paused" value="true"/>
</include>


<!-- there exists a node in gazebo called spawn_model. use it here-->
  <node name="walker_spawn" pkg="gazebo_ros" type="spawn_model" output="screen" 
    args="-urdf -param robot_description -model walker -x $(arg x) -y $(arg y) -z $(arg z)
              -R $(arg roll) -P $(arg pitch) -Y $(arg yaw)" />
</launch>